build/
out/
dist/
install/
.rtk/
.vs/
.vscode/
*.user
*.suo
*.ninja_deps
*.ninja_log
*.pproj
*.aep
*.aepx
*.aex
*.ofx
*.ofx.bundle/
*.plugin/
*.ilk
*.pdb
*.obj
*.lib
*.dll
*.dylib
*.so
*.exe
*.ppm
*.pgm
